@model IEnumerable<Vehicle_Showroom_Management_System.Areas.Admin.Data.ModelCar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Index.cshtml";
}

    <div class="container">
        <h2 style="text-align: center"><b>List of Car Models</b></h2>
        <br />
        <p>
            <a href="/Admin/ModelCar/Create" class="btn btn-primary"><b>Add new Car Model</b></a>
            <input style="float: right" class="form-control col-md-4" name="searchModelCar" id="searchModelCar" type="text" placeholder="Search Car Model Name..." aria-label="Search" aria-describedby="basic-addon2" />

        </p>
        <table class="table table-bordered" id="tableModelCar">
            <tr>
                <th>
                    <b>Car Model Name</b>
                </th>
                <th>
                    <b> Logo Brand</b>
                </th>
                <th style="text-align: center">
                    <b> Total number cars</b>
                </th>
                <th></th>
            </tr>
            <tbody>
            </tbody>
        </table>
        <div class="pagination" id="pagination" style="float: right">
        </div>
        <div class="pagination" id="paginationSearchMutiplePages" style="float: right">
        </div>
        <div style="float: left; display: none" id="resultSearch">
            <div id="totalRowSearch" style="font-weight: bold"></div>
        </div>
    </div>
<script>
    var pageCofig = {
        pageSize: 4,
        pageIndex: 1
    }
    var pageSearchCofig = {
        pageSize: 4,
        pageIndex: 1
    }

    $(document).ready(function () {
        $("#pagination").hide();
        $("#paginationSearchMutiplePages").hide();
        $("#tableModelCar").find('.dataTable').remove();
        $.ajax({
            type: "POST",
            url: "/Admin/ModelCar/LoadData",
            data: '{page: ' + pageCofig.pageIndex + ',pageSize:' + pageCofig.pageSize + ' }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.data.length > 0) {
                    var row = "";
                    for (var i = 0; i < response.data.length; i++) {
                        row += "<tr class='dataTable' id='" + response.data[i].ModelCarId + "'>" + "<td style = 'width: 300px'>" + response.data[i].ModelCarName + "</td>" + "<td>" + "<img src='/Areas/Admin/Contents/Images/" + response.data[i].LogoBrand + "' style = 'width: 110px' title='" + response.data[i].BrandName + "' />" + "</td>" + "<td style = 'text-align: center'>" + response.data[i].CountCar + "</td>" + "<td> <a href='/Admin/ModelCar/Details?ModelCarId=" + response.data[i].ModelCarId + "' class='btn btn-info' style = 'font-weight: bold'>Details</a> <a href='/Admin/ModelCar/Edit?ModelCarId=" + response.data[i].ModelCarId + "' class='btn btn-success' style = 'font-weight: bold'>Edit</a> <a onclick = deleteModelCar(" + response.data[i].ModelCarId + ") class='btn btn-danger' style = 'font-weight: bold; color: white'>Delete</a> </td>" + "</tr>"
                    }
                    $("#tableModelCar").append(row);
                    $("#pagination").show();
                    pagination(response.total, function () { })
                }
                $("#resultSearch").show();
                $("#totalRowSearch").text("Total numbers of model car: " + response.total);
            }
        });
    });

    $("#pagination").click(function () {
        loadData();
    });

    
    function loadData() {
        $("#tableModelCar").find('.dataTable').remove();
        $.ajax({
            type: "POST",
            url: "/Admin/ModelCar/LoadData",
            data:
                '{page: ' + pageCofig.pageIndex + ',pageSize:' + pageCofig.pageSize + ' }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.data.length > 0) {
                    var row = "";
                    for (var i = 0; i < response.data.length; i++) {
                        row += "<tr class='dataTable' id='" + response.data[i].ModelCarId + "'>" + "<td style = 'width: 300px'>" + response.data[i].ModelCarName + "</td>" + "<td>" + "<img src='/Areas/Admin/Contents/Images/" + response.data[i].LogoBrand + "' style = 'width: 110px' title='" + response.data[i].BrandName + "' />" + "</td>" + "<td style = 'text-align: center'>" + response.data[i].CountCar + "</td>" + "<td> <a href='/Admin/ModelCar/Details?ModelCarId=" + response.data[i].ModelCarId + "' class='btn btn-info' style = 'font-weight: bold'>Details</a> <a href='/Admin/ModelCar/Edit?ModelCarId=" + response.data[i].ModelCarId + "' class='btn btn-success' style = 'font-weight: bold'>Edit</a> <a onclick = deleteModelCar(" + response.data[i].ModelCarId + ") class='btn btn-danger' style = 'font-weight: bold; color: white'>Delete</a> </td>" + "</tr>"
                    }
                    $("#tableModelCar").append(row);
                    $("#paginationSearchMutiplePages").hide();
                    $("#pagination").show();
                    pagination(response.total, function () {
                        loadData();
                    })
                }
                $("#resultSearch").show();
                $("#totalRowSearch").text("Total numbers of car: " + response.total);
            }
        });
    };

    $("#searchModelCar").keyup(function () {
        pageSearchCofig = {
            pageSize: 4,
            pageIndex: 1
        }

        $('#paginationSearchMutiplePages').empty();
        $('#paginationSearchMutiplePages').removeData("twbs-pagination");
        $('#paginationSearchMutiplePages').unbind("page");
        $('#pagination').empty();
        $('#pagination').removeData("twbs-pagination");
        $('#pagination').unbind("page");
        searchModelCar();
    });

    function searchModelCar() {
        $("#tableModelCar").find('.dataTable').remove();
        var searchModelCarName = $("#searchModelCar").val();
        $.ajax({
            type: "POST",
            url: "/Admin/ModelCar/Search",
            data: '{searchModelCar: "' + searchModelCarName + '", page: ' + pageSearchCofig.pageIndex + ', pageSize: ' + pageSearchCofig.pageSize + ' }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.modelCars.length > 0) {
                    if (searchModelCarName == "") {
                        $("#pagination").show();
                        $("#paginationSearchMutiplePages").hide();
                        $("#tableModelCar").find('.dataTable').remove();
                        $.ajax({
                            type: "POST",
                            url: "/Admin/ModelCar/LoadData",
                            data: '{page: ' + pageCofig.pageIndex + ',pageSize:' + pageCofig.pageSize + ' }',
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (response) {
                                var row = "";
                                for (var i = 0; i < response.data.length; i++) {
                                    row += "<tr class='dataTable' id='" + response.data[i].ModelCarId + "'>" + "<td style = 'width: 300px'>" + response.data[i].ModelCarName + "</td>" + "<td>" + response.data[i].BrandName + "</td>" + "<td>" + "<img src='/Areas/Admin/Contents/Images/" + response.data[i].LogoBrand + "' style = 'width: 110px' title='" + response.data[i].BrandName + "' />" + "</td>" + "<td> <a href='/Admin/ModelCar/Details?ModelCarId=" + response.data[i].ModelCarId + "' class='btn btn-info' style = 'font-weight: bold'>Details</a> <a href='/Admin/ModelCar/Edit?ModelCarId=" + response.data[i].ModelCarId + "' class='btn btn-success' style = 'font-weight: bold'>Edit</a> <a onclick = deleteModelCar(" + response.data[i].ModelCarId + ") class='btn btn-danger' style = 'font-weight: bold; color: white'>Delete</a> </td>" + "</tr>"
                                }
                                $("#tableModelCar").append(row);
                                pagination(response.total, function () {
                                    loadData();
                                })
                            }
                        });
                    } else {
                        $("#tableModelCar").find('.dataTable').remove();
                        if (response.data.length > 0) {
                        var row = "";
                            for (var i = 0; i < response.data.length; i++) {
                                row += "<tr class='dataTable' id='" + response.data[i].ModelCarId + "'>" + "<td style = 'width: 300px'>" + response.data[i].ModelCarName + "</td>" + "<td>" + response.data[i].BrandName + "</td>" + "<td>" + "<img src='/Areas/Admin/Contents/Images/" + response.data[i].LogoBrand + "' style = 'width: 110px' title='" + response.data[i].BrandName + "' />" + "</td>" + "<td> <a href='/Admin/ModelCar/Details?ModelCarId=" + response.data[i].ModelCarId + "' class='btn btn-info' style = 'font-weight: bold'>Details</a> <a href='/Admin/ModelCar/Edit?ModelCarId=" + response.data[i].ModelCarId + "' class='btn btn-success' style = 'font-weight: bold'>Edit</a> <a onclick = deleteModelCar(" + response.data[i].ModelCarId + ") class='btn btn-danger' style = 'font-weight: bold; color: white'>Delete</a> </td>" + "</tr>"
                        }
                        $("#tableModelCar").append(row);
                        $("#pagination").hide();
                            $("#paginationSearchMutiplePages").show();
                            paginationSearchMutiplePages(response.total, function () {
                                searchModelCar();
                            });
                            $("#resultSearch").show();
                            $("#totalRowSearch").text("Found " + response.total + " results");
                        } else {
                            $("#pagination").hide();
                            $("#paginationSearchMutiplePages").hide();
                            $("#resultSearch").show();
                            $("#totalRowSearch").text("Found " + response.total + " results");
                        }
                    }
                } else {
                    swal({
                        title: "Nothing to search !",
                        text: "Please add new Car Model",
                        icon: "error",
                        button: "Got it",
                        dangerMode: false
                    }).then((logOut) => {
                        if (logOut) {
                            window.location.replace("/Admin/ModelCar/Create");
                        }
                    });
                }
            }
        });
    }

    function pagination(totalRow, callback) {
        var totalPage = Math.ceil(totalRow / pageCofig.pageSize);
        $('#pagination').twbsPagination({
            totalPages: totalPage,
            visiblePages: 10,
            onPageClick: function (event, page) {
                pageCofig.pageIndex = page;
                setTimeout(callback, 200);
            }
        });
    };

    function paginationSearchMutiplePages(totalRow, callback) {
        var totalPage = Math.ceil(totalRow / pageCofig.pageSize);
        $('#paginationSearchMutiplePages').twbsPagination({
            totalPages: totalPage,
            visiblePages: 10,
            onPageClick: function (event, page) {
                pageSearchCofig.pageIndex = page;
                setTimeout(callback, 500);
            }
        });
    }
   


    function deleteModelCar(ModelCarId) {
        swal({
            title: "Are you sure you want to delete?",
            text: "Once deleted, you will not be able to recover this Car Model!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((logOut) => {
            if (logOut) {
                $.ajax({
                    type: "POST",
                    url: "/Admin/ModelCar/Delete",
                    data: {ModelCarId:  ModelCarId },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        if (response) { 
                            $('#pagination').empty();
                            $('#pagination').removeData("twbs-pagination");
                            $('#pagination').unbind("page");

                            $('#paginationSearchMutiplePages').empty();
                            $('#paginationSearchMutiplePages').removeData("twbs-pagination");
                            $('#paginationSearchMutiplePages').unbind("page");

                            pageCofig = {
                                pageSize: 4,
                                pageIndex: 1
                            }
                            pageSearchCofig = {
                                pageSize: 4,
                                pageIndex: 1
                            }
                            $("#" + ModelCarId).remove();
                            if ($("#searchModelCar").val() == "") {
                                loadData();
                            } else {
                                searchModelCar();
                            }
                            setTimeout(function () {
                                swal({
                                    title: "Poof! Car Model has been deleted!",
                                    icon: "success",
                                    button: true,
                                    dangermode: false,
                                });
                            }, 100);
                        } else {
                            swal("Can not delete !!!", "This Car Model is containing car", "error");
                        }
                    }
                });
            }
        });
    }
</script>
