@{
    Layout = "~/Areas/Admin/Views/Login/Shared/Index.cshtml";
}
    <main>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-5">
                    <div class="card shadow-lg border-0 rounded-lg mt-5">
                        <div class="card-header"><h3 class="text-center font-weight-light my-4"><b>Showroom Management Login</b></h3></div>
                        <div class="card-body">
                            <form method="POST" id="formLogin">
                                @Html.AntiForgeryToken()
                                <div class="form-group">
                                    <label class="small mb-1" for="username"><b style="font-size: 20px">Username</b></label>
                                    <input class="form-control py-4" id="username" name="username" type="text" placeholder="Enter username" />
                                </div>
                                <div class="form-group">
                                    <label class="small mb-1" for="password"><b style="font-size: 20px">Password</b></label>
                                    <input class="form-control py-4" id="password" name="password" type="password" placeholder="Enter password" />
                                    <span onclick="showPassword()" class="fa fa-eye" style="font-size: 20px;position: absolute;top: 72.5%;right: 6%;transform:translateY(-50%);cursor:pointer " id="showPassword"></span>
                                </div>
                                @*<div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input class="custom-control-input" id="rememberPasswordCheck" onclick="rememberMe()" type="checkbox" />
                                        <label class="custom-control-label" for="rememberPasswordCheck">Remember password</label>
                                    </div>
                                </div>*@
                                <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <a class="small" href="/Admin/Login/ForgotPassword" style="font-size: 15px">Forgot Password?</a>
                                    <button type="submit" class="btn btn-primary" id="btnSubmit" disabled hidden>Login</button>
                                    <a onclick="login()" class="btn btn-primary" style="color: white; font-size: 17px">Login</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
       
    <script>
        $(document).ready(function () {
            $("#formLogin").keydown(function (e) {
                if (e.which == 13) {
                    login();
                }
            })
        });

        function showPassword() {
            var password = $('#password');
            if (password.prop('type') == 'password') {
                $('#showPassword').addClass('fa-eye-slash');
                password.attr('type', 'text');
            } else {
                $('#showPassword').removeClass('fa-eye-slash');
                $('#showPassword').addClass('fa-eye');
                password.attr('type', 'password');
            }
        }
        
        function login() {
            var i = 0;
            if (i == 0 && $("#username").val() == "") {
                swal("There was a problem !!!", "Please enter Username", "error").then(() => { $("#username").focus(); });
            } else {
                i++;
            }
            if (i == 1 && $("#password").val() == "") {
                swal("There was a problem !!!", "Please enter Password", "error").then(() => { $("#password").focus(); });
            } else {
                if (i == 1) {
                    var userName = $("#username").val();
                    var passWord = $("#password").val();
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Login/CheckLogin",
                        data: '{username: "' + userName + '", password: "' + passWord + '"}',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response) {
                                setTimeout(function () {
                                    swal({
                                        title: "Login success",
                                        icon: "success",
                                        buttons: false,
                                        dangerMode: false,
                                    })
                                    setTimeout(function () {
                                        $("#btnSubmit").removeAttr('disabled');
                                        $("#btnSubmit").click();
                                    }, 800);
                                }, 100);
                            }
                            else {
                                swal("There was a problem !!!", "Incorrect Username or Password", "error").then(() => { $("#username").focus(); });
                            }
                        }
                    });
                }
            }
        }
    </script>
