
@{
    ViewBag.Title = "NotificationForgotPassword";
    Layout = "~/Areas/Admin/Views/Login/Shared/Index.cshtml";
}


@{
    ViewBag.Title = "NotificationForgotpassword";
    Layout = "~/Areas/Admin/Views/Login/Shared/Index.cshtml";
}

<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4"><b>Please check your email !</b></h3></div>
                    <div class="card-body"><div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                    <a href="/Admin/Login" class="btn btn-primary" style="color: white; font-size: 17px;margin: 0 auto">Back to login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


