
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Areas/Admin/Views/Login/Shared/Index.cshtml";
}
<main>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4"><b>Reset Password</b></h3></div>
                    <div class="card-body">
                        <form method="POST">
                            @Html.AntiForgeryToken()
                            <div class="form-group">
                                <label class="small mb-1" for="password"><b style="font-size: 20px">Password</b></label>
                                <input class="form-control py-4" id="password" name="password" type="password" placeholder="Enter new password" />
                                <span onclick="showPassword()" class="fa fa-eye" style="font-size: 20px;position: absolute;top: 47.5%;right: 6%;transform:translateY(-50%);cursor:pointer " id="showPassword"></span>
                            </div>
                            <div class="form-group">
                                <label class="small mb-1" for="confirm_password"><b style="font-size: 20px">Confirm Password</b></label>
                                <input class="form-control py-4" id="confirm_password" name="confirm_password" type="password" placeholder="Confirm new password" />
                                <span onclick="showConfirmPassword()" class="fa fa-eye" style="font-size: 20px;position: absolute;top: 72.5%;right: 6%;transform:translateY(-50%);cursor:pointer " id="showConfirmPassword"></span>
                            </div>
                            <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                <button type="submit" class="btn btn-primary" id="btnSubmit" disabled hidden></button>
                                <a onclick="resetPassword()" class="btn btn-primary" style="color: white; font-size: 17px;margin: 0 auto">Reset Password</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script>
    function showPassword() {
        var password = $('#password');
        if (password.prop('type') == 'password') {
            $('#showPassword').addClass('fa-eye-slash');
            password.attr('type', 'text');
        } else {
            $('#showPassword').removeClass('fa-eye-slash');
            $('#showPassword').addClass('fa-eye');
            password.attr('type', 'password');
        }
    }
    function showConfirmPassword() {
        var password = $('#confirm_password');
        if (password.prop('type') == 'password') {
            $('#showConfirmPassword').addClass('fa-eye-slash');
            password.attr('type', 'text');
        } else {
            $('#showConfirmPassword').removeClass('fa-eye-slash');
            $('#showConfirmPassword').addClass('fa-eye');
            password.attr('type', 'password');
        }
    }

    function resetPassword() {
        var newPassord = $("#password").val();
        var confirmPassord = $("#confirm_password").val();
        if (newPassord == "") {
            swal("There was a problem !!!", "Please enter new Password", "error").then(() => { $("#password").focus(); });
        } else {
            var regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)*$/;
            if (regex.test(password)) {
            if (confirmPassord == "") {
                swal("There was a problem !!!", "Please confirm new Password", "error").then(() => { $("#confirm_password").focus(); });
            } else {
                if (newPassord != confirmPassord) {
                    swal("There was a problem !!!", "Confirm password doesn't match", "error").then(() => { $("#confirm_password").focus(); });
                } else {

                }
            }
            } else {
                swal("There was a problem !!!", "Please enter new password without special characters, ", "error").then(() => { $("#password").focus(); });
            }
        }
    }
</script>
