@model IEnumerable<Vehicle_Showroom_Management_System.Areas.Admin.Data.Brand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Index.cshtml";
}

    <div class="container">
        <h2 style="text-align: center"><b>List of Brands</b></h2>
        <br />
        <p>
            <a href="/Admin/Brand/Create" class="btn btn-primary"><b>Add new Brand</b></a>
            <input style="float: right" class="form-control col-md-4" name="searchBrand" id="searchBrand" type="text" placeholder="Search Brand..." aria-label="Search" aria-describedby="basic-addon2" />

        </p>
        <table class="table table-bordered" id="tableBrand">
            <tr>
                <th>
                    <b>Brand Name</b>
                </th>
                <th style="text-align: center">
                    <b>Total number model car</b>
                </th>
                <th style="text-align: center">
                    <b>Image</b>
                </th>
                <th></th>
            </tr>
            <tbody>
            </tbody>
        </table>
        <div class="pagination" id="pagination" style="float: right">
        </div>
        <div class="pagination" id="paginationSearchMutiplePages" style="float: right">
        </div>
        <div style="float: left; display: none" id="resultSearch">
            <div id="totalRowSearch" style="font-weight: bold"></div>
        </div>
    </div>
    <script>
        var pageCofig = {
            pageSize: 3,
            pageIndex: 1
        }
        var pageSearchCofig = {
            pageSize: 3,
            pageIndex: 1
        }

        $(document).ready(function () {
            $("#pagination").hide();
            $("#paginationSearchMutiplePages").hide();
            $("#tableBrand").find('.dataTable').remove();
            $.ajax({
                type: "POST",
                url: "/Admin/Brand/LoadData",
                data:
                    '{page: ' + pageCofig.pageIndex + ',pageSize:' + pageCofig.pageSize + ' }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.data.length > 0) {
                        var row = "";
                        for (var i = 0; i < response.data.length; i++) {
                            row += "<tr class='dataTable' id='" + response.data[i].BrandId + "'>" + "<td>" + response.data[i].BrandName + "</td>" + "<td style='text-align: center; width:250px'>" + response.data[i].CountModelCar + "</td>" + "<td style = 'width: 200px'>" + "<img src='/Areas/Admin/Contents/Images/" + response.data[i].Image + "' class = 'img-responsive' style = 'width:200px; height: 100px' />" + "</td>" + "<td style = 'width: 350px'> <a href='/Admin/Brand/Details?brandId=" + response.data[i].BrandId + "' class='btn btn-info' style = 'font-weight: bold'>Details</a> <a href='/Admin/Brand/Edit?brandId=" + response.data[i].BrandId + "' class='btn btn-success' style = 'font-weight: bold'>Edit</a> <a style='font-weight: bold;color: white' onclick = deleteBrand(" + response.data[i].BrandId + ") class='btn btn-danger'>Delete</a> </td>" + "</tr>"
                        }
                        $("#tableBrand").append(row);
                        $("#pagination").show();
                        pagination(response.total, function () {
                        })
                    }
                    $("#resultSearch").show();
                    $("#totalRowSearch").text("Total numbers of brand: " + response.total);
                }
            });
        });
        $("#pagination").click(function () {
            loadData();
        });

        function loadData() {
            $("#tableBrand").find('.dataTable').remove();
            $.ajax({
                type: "POST",
                url: "/Admin/Brand/LoadData",
                data:
                    '{page: ' + pageCofig.pageIndex + ',pageSize:' + pageCofig.pageSize+' }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.data.length > 0) {
                        var row = "";
                        for (var i = 0; i < response.data.length; i++) {
                            row += "<tr class='dataTable' id='" + response.data[i].BrandId + "'>" + "<td>" + response.data[i].BrandName + "</td>" + "<td style='text-align: center; width:250px'>" + response.data[i].CountModelCar + "</td>" + "<td style = 'width: 200px'>" + "<img src='/Areas/Admin/Contents/Images/" + response.data[i].Image +"' class = 'img-responsive' style = 'width:200px; height: 100px' />" + "</td>" + "<td style = 'width: 350px'> <a href='/Admin/Brand/Details?brandId=" + response.data[i].BrandId + "' class='btn btn-info' style = 'font-weight: bold'>Details</a> <a href='/Admin/Brand/Edit?brandId=" + response.data[i].BrandId + "' class='btn btn-success' style = 'font-weight: bold'>Edit</a> <a style='font-weight: bold;color: white' onclick = deleteBrand(" + response.data[i].BrandId + ") class='btn btn-danger'>Delete</a> </td>" + "</tr>"
                        }
                        $("#tableBrand").append(row);
                        $("#pagination").show();
                        pagination(response.total, function () {
                            loadData();
                        })
                    }
                    $("#resultSearch").show();
                    $("#totalRowSearch").text("Total numbers of brand: " + response.total);
                }
            });
        }

        function pagination(totalRow, callback) {
            var totalPage = Math.ceil(totalRow / pageCofig.pageSize);
            $('#pagination').twbsPagination({
                totalPages: totalPage,
                visiblePages: 10,
                onPageClick: function (event, page) {
                    pageCofig.pageIndex = page;
                    setTimeout(callback, 200);
                }
            });
        }
        function paginationSearchMutiplePages(totalRow, callback) {
            var totalPage = Math.ceil(totalRow / pageCofig.pageSize);
            $('#paginationSearchMutiplePages').twbsPagination({
                totalPages: totalPage,
                visiblePages: 10,
                onPageClick: function (event, page) {
                    pageSearchCofig.pageIndex = page;
                    setTimeout(callback, 500);
                }
            });
        }
        
        $("#searchBrand").keyup(function () {
            pageSearchCofig = {
                pageSize: 3,
                pageIndex: 1
            }

            $('#paginationSearchMutiplePages').empty();
            $('#paginationSearchMutiplePages').removeData("twbs-pagination");
            $('#paginationSearchMutiplePages').unbind("page");

            $('#pagination').empty();
            $('#pagination').removeData("twbs-pagination");
            $('#pagination').unbind("page");

            searchBrand();
        });
        function searchBrand() {
            $("#searchBrand").find('.dataTable').remove();
            var searchBrandName = $("#searchBrand").val().toLowerCase();
            $.ajax({
                type: "POST",
                url: "/Admin/Brand/Search",
                data: '{searchBrand: "' + searchBrandName + '", page: ' + pageSearchCofig.pageIndex + ', pageSize: ' + pageSearchCofig.pageSize + ' }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    console.log(response.data)
                    if (response.brands.length > 0) {
                        if (searchBrandName == "") {
                            $("#pagination").show();
                            $("#paginationSearchMutiplePages").hide();
                            $("#tableBrand").find('.dataTable').remove();
                            $.ajax({
                                type: "POST",
                                url: "/Admin/Brand/LoadData",
                                data: '{page: ' + pageCofig.pageIndex + ',pageSize:' + pageCofig.pageSize + ' }',
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (response) {
                                    var row = "";
                                    for (var i = 0; i < response.data.length; i++) {
                                        row += "<tr class='dataTable' id='" + response.data[i].BrandId + "'>" + "<td>" + response.data[i].BrandName + "</td>" + "<td style='text-align: center; width:250px'>" + response.data[i].CountModelCar + "</td>" + "<td style = 'width: 200px'>" + "<img src='/Areas/Admin/Contents/Images/" + response.data[i].Image + "' class = 'img-responsive' style = 'width:200px; height: 100px' />" + "</td>" + "<td style = 'width: 350px'> <a href='/Admin/Brand/Details?brandId=" + response.data[i].BrandId + "' class='btn btn-info' style = 'font-weight: bold'>Details</a> <a href='/Admin/Brand/Edit?brandId=" + response.data[i].BrandId + "' class='btn btn-success' style = 'font-weight: bold'>Edit</a> <a style='font-weight: bold;color: white' onclick = deleteBrand(" + response.data[i].BrandId + ") class='btn btn-danger'>Delete</a> </td>" + "</tr>"

                                    }
                                    $("#tableBrand").append(row);
                                    pagination(response.total, function () {
                                        loadData();
                                    })
                                $("#resultSearch").show();
                                $("#totalRowSearch").text("Total numbers of brand: " + response.total);
                                }
                            });
                        } else {
                            $("#tableBrand").find('.dataTable').remove();
                            var row = "";
                            for (var i = 0; i < response.data.length; i++) {
                                row += "<tr class='dataTable' id='" + response.data[i].BrandId + "'>" + "<td>" + response.data[i].BrandName + "</td>" + "<td style='text-align: center; width:250px'>" + response.data[i].CountModelCar + "</td>" + "<td style = 'width: 200px'>" + "<img src='/Areas/Admin/Contents/Images/" + response.data[i].Image + "' class = 'img-responsive' style = 'width:200px; height: 100px' />" + "</td>" + "<td style = 'width: 350px'> <a href='/Admin/Brand/Details?brandId=" + response.data[i].BrandId + "' class='btn btn-info' style = 'font-weight: bold'>Details</a> <a href='/Admin/Brand/Edit?brandId=" + response.data[i].BrandId + "' class='btn btn-success' style = 'font-weight: bold'>Edit</a> <a style='font-weight: bold;color: white' onclick = deleteBrand(" + response.data[i].BrandId + ") class='btn btn-danger'>Delete</a> </td>" + "</tr>"
                            }
                            $("#tableBrand").append(row);
                            $("#pagination").hide();
                            $("#paginationSearchMutiplePages").show();
                            $("#resultSearch").show();
                            $("#totalRowSearch").text("Found: " + response.total+" results");
                            paginationSearchMutiplePages(response.total, function () {
                            searchBrand();
                            })
                           
                        }
                    } else {
                        swal({
                            title: "Nothing to search !",
                            text: "Please add new Brand",
                            icon: "error",
                            button: "Got it",
                            dangerMode: false
                        }).then((logOut) => {
                            if (logOut) {
                                window.location.replace("/Admin/Brand/Create");
                            }
                        });
                    }
                }
            });
        }


        function deleteBrand(brandId) {
            swal({
                title: "Are you sure you want to delete?",
                text: "Once deleted, you will not be able to recover this Brand!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            }).then((logOut) => {
                if (logOut) {
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Brand/Delete",
                        data: '{brandId: "' + brandId + '" }',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response) {
                                $("#" + brandId).remove();
                                loadData();
                                setTimeout(function () {
                                    swal({
                                        title: "Poof! Brand has been deleted!",
                                        icon: "success",
                                        button: true,
                                        dangerMode: false,
                                    });
                                }, 100);
                                $('#pagination').empty();
                                $('#pagination').removeData("twbs-pagination");
                                $('#pagination').unbind("page");

                                $('#paginationSearchMutiplePages').empty();
                                $('#paginationSearchMutiplePages').removeData("twbs-pagination");
                                $('#paginationSearchMutiplePages').unbind("page");

                                pageCofig = {
                                    pageSize: 3,
                                    pageIndex: 1
                                }
                                pageSearchCofig = {
                                    pageSize: 3,
                                    pageIndex: 1
                                }
                            } else {
                                swal({
                                    title: "Can not delete this brand!",
                                    text: "This brand is containing model car",
                                    icon: "error",
                                    button: true,
                                    dangermode: true,
                                });
                            }
                        }
                    });
                }
            });
        }
    </script>
