
@{
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <main>
        <section class="featured-places">
            <div class="container">
                <form action="#">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Used/New:</label>

                                <select class="form-control">
                                    <option value="">All</option>
                                    <option value="new">New vehicle</option>
                                    <option value="used">Used vehicle</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Vehicle Type:</label>

                                <select class="form-control">
                                    <option value="">--All --</option>
                                    <option value="">--All --</option>
                                    <option value="">--All --</option>
                                    <option value="">--All --</option>
                                    <option value="">--All --</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Make:</label>

                                <select class="form-control">
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Model:</label>

                                <select class="form-control">
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Price:</label>

                                <select class="form-control">
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Mileage:</label>

                                <select class="form-control">
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Engine size:</label>

                                <select class="form-control">
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Power:</label>

                                <select class="form-control">
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Fuel:</label>

                                <select class="form-control">
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Gearbox:</label>

                                <select class="form-control">
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Doors:</label>

                                <select class="form-control">
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label>Number of seats:</label>

                                <select class="form-control">
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                    <option value="">-- All --</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="text-center blue-button">
                        <a href="#">Search</a>
                    </div>
                </form>
            </div>
        </section>

        <section class="featured-places">
            <div class="container">
                <div class="row" id="dataCars">

                </div>
            </div>
        </section>
    </main>

    <script>
        $(document).ready(function () {
            $("#dataCars").find('.cars').remove();
            $.ajax({
                type: "GET",
                url: "/Cars/LoadData",
                success: function (response) {
                    if (response.data.length > 0) {
                        var row = "";
                        for (var i = 0; i < response.data.length; i++) {
                            var status = (response.data[i].Status == 0) ? "New" : "Used";
                            var date = new Date(parseInt(response.data[i].PurchaseOrderDate.replace('/Date(', '')));
                            row += "<div class='col-md-4 col-sm-6 col-xs-12 cars' id='" + response.data[i].CarId + "'><div class='featured-item'><div class='thumb'><div class='thumb-img'><img src='/Areas/Admin/Contents/Images/" + response.data[i].ImageName + "' style = 'width: 400px;height: 200px'/></div><div class='overlay-content'><strong><i class='fa fa-dashboard'></i> " + response.data[i].KilometerGone + "</strong> &nbsp;&nbsp;&nbsp;&nbsp; <strong><i class='fa fa-cube'></i> " + response.data[i].Engine + "</strong>&nbsp;&nbsp;&nbsp;&nbsp;<strong><i class='fa fa-cog'></i> " + response.data[i].Gearbox + "</strong></div></div><div class='down-content' style='text-align: center'><h4>" + response.data[i].CarName + "</h4><br><p>" + response.data[i].Color + "  /  " + response.data[i].FuelConsumption + "  /  " + convert(date) + "  /  " + status + " vehicle</p><p><span><strong><sup>$</sup>" + String(response.data[i].PriceOutput).replace(/(.)(?=(\d{3})+$)/g, '$1,') + "</strong></span></p><div class='text-button'><a href='/Cars/CarDetails?ModelNumberCar=" + response.data[i].ModelNumberCar + "'>View More</a></div></div></div></div>"
                        }
                        $("#dataCars").append(row);
                    }
                }
            });
        });

        function convert(str) {
            var date = new Date(str),
                month = ("0" + (date.getMonth() + 1)).slice(-2),
                day = ("0" + date.getDate()).slice(-2);
            return [month, day, date.getFullYear()].join("-");
        }
    </script>

