
@{
    ViewBag.Cars = "active";
    ViewBag.Title = "Cars";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <section class="featured-places">
        <div class="container">
            <form action="#">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        @*<div class="form-group">
                                <label>Used/New:</label>

                                <select class="form-control" id="checking">
                                    <option value=null>-- All --</option>
                                    <option value="0">New vehicle</option>
                                    <option value="1">Used vehicle</option>
                                </select>
                            </div>*@
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Brand:</label>

                            <select class="form-control" id="brand">
                                <option value=null>-- All --</option>
                                @foreach (var item in ViewBag.Brands)
                                {
                                    <option value="@item.BrandId">@item.BrandName</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label>Model:</label>

                            <select class="form-control" id="model">
                                <option value=null>-- All --</option>
                                @foreach (var item in ViewBag.ModelCars)
                                {
                                    <option value="@item.ModelCarId" class="modelCar">@item.ModelCarName</option>
                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
                        @*<div class="form-group">
                                <label>Price:</label>

                                <select class="form-control">
                                    <option value=null>-- All --</option>
                                    <option value="0">Ascending</option>
                                    <option value="1">Decrease</option>
                                </select>
                            </div>*@
                    </div>
                </div>
                <div class="text-center blue-button">
                    <button class="btn btn-primary" type="button" onclick="filter()">Search</button>
                </div>

            </form>
        </div>
    </section>

    <section class="featured-places">
        <div class="container">
            <div class="row" id="dataCars">

            </div>
        </div>
        <div style="display: flex; justify-content: center;">
            <div class="pagination" id="pagination" style="float: right">
            </div>
            <div class="pagination" id="paginationSearchMutiplePages" style="float: right">
            </div>
        </div>
    </section>
</main>

<script>
    var pageCofig = {
        pageSize: 6,
        pageIndex: 1
    }

    var pageSearchCofig = {
        pageSize: 6,
        pageIndex: 1
    }

    function filter() {
        pageSearchCofig = {
            pageSize: 3,
            pageIndex: 1
        }

        $('#paginationSearchMutiplePages').empty();
        $('#paginationSearchMutiplePages').removeData("twbs-pagination");
        $('#paginationSearchMutiplePages').unbind("page");

        $('#pagination').empty();
        $('#pagination').removeData("twbs-pagination");
        $('#pagination').unbind("page");
        search();
    }

    $(document).ready(function () {
        $("#pagination").hide();
        $("#paginationSearchMutiplePages").hide();
        $("#dataCars").find('.cars').remove();
        $.ajax({
            type: "GET",
            url: "/Cars/LoadData",
            data: {
                page: pageCofig.pageIndex,
                pageSize: pageCofig.pageSize
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.data.length > 0) {
                    var row = "";
                    for (var i = 0; i < response.data.length; i++) {
                        var status = (response.data[i].Status == 0) ? "New" : "Used";
                        var date = new Date(parseInt(response.data[i].CreatedDate.replace('/Date(', '')));
                        row += "<div class='col-md-4 col-sm-6 col-xs-12 cars' id='" + response.data[i].CarId + "'><div class='featured-item'><div class='thumb'><div class='thumb-img'><img src='/Areas/Admin/Contents/Images/" + response.data[i].ImageName + "' style = 'width: 400px;height: 200px'/></div><div class='overlay-content'><strong><i class='fa fa-dashboard'></i> " + response.data[i].KilometerGone + " km</strong> &nbsp;&nbsp;&nbsp;&nbsp; <strong><i class='fa fa-cube'></i> " + response.data[i].Engine + "</strong>&nbsp;&nbsp;&nbsp;&nbsp;<strong><i class='fa fa-cog'></i> " + response.data[i].Gearbox + "</strong></div></div><div class='down-content' style='text-align: center'><h4>" + response.data[i].CarName + "</h4><br><p>" + response.data[i].Color + "  /  " + convert(date) + "  /  " + status + " vehicle</p><p><span><strong><sup>$</sup>" + String(response.data[i].PriceOutput).replace(/(.)(?=(\d{3})+$)/g, '$1,') + "</strong></span></p><div class='text-button'><a href='/Cars/CarDetails?ModelNumberCar=" + response.data[i].ModelNumberCar + "'>View More</a></div></div></div></div>"
                    }
                    $("#dataCars").append(row);
                    $("#pagination").show();
                    pagination(response.total, function () {
                    })
                } else {
                    var row = "<h2 style='text-align: center' class='cars'>Currently there are no vehicles in the showroom !</h2>";
                    $("#dataCars").append(row);
                }
            }
        });
    });

    $("#brand").change(function () {
        var brandId = $("#brand").val();
        $("#model").find('.modelCar').remove();
        $.ajax({
            type: "GET",
            url: "/Cars/Combobox",
            data: {
                brandId: brandId
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.data.length > 0) {
                    var row = "";
                    for (var i = 0; i < response.data.length; i++) {
                        row += "<option value=" + response.data[i].ModelCarId + " class='modelCar'>" + response.data[i].ModelCarName + "</option>"
                    }
                    $("#model").append(row);
                }
            }
        });
    });

    $("#pagination").click(function () {

        loadData();
    });

    function loadData() {
        $("#dataCars").find('.cars').remove();
        $.ajax({
            type: "GET",
            url: "/Cars/LoadData",
            data: {
                page: pageCofig.pageIndex,
                pageSize: pageCofig.pageSize
            },
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.data.length > 0) {
                    var row = "";
                    for (var i = 0; i < response.data.length; i++) {
                        var status = (response.data[i].Status == 0) ? "New" : "Used";
                        var date = new Date(parseInt(response.data[i].CreatedDate.replace('/Date(', '')));
                        row += "<div class='col-md-4 col-sm-6 col-xs-12 cars' id='" + response.data[i].CarId + "'><div class='featured-item'><div class='thumb'><div class='thumb-img'><img src='/Areas/Admin/Contents/Images/" + response.data[i].ImageName + "' style = 'width: 400px;height: 200px'/></div><div class='overlay-content'><strong><i class='fa fa-dashboard'></i> " + response.data[i].KilometerGone + " km</strong> &nbsp;&nbsp;&nbsp;&nbsp; <strong><i class='fa fa-cube'></i> " + response.data[i].Engine + "</strong>&nbsp;&nbsp;&nbsp;&nbsp;<strong><i class='fa fa-cog'></i> " + response.data[i].Gearbox + "</strong></div></div><div class='down-content' style='text-align: center'><h4>" + response.data[i].CarName + "</h4><br><p>" + response.data[i].Color + "  /  " + convert(date) + "  /  " + status + " vehicle</p><p><span><strong><sup>$</sup>" + String(response.data[i].PriceOutput).replace(/(.)(?=(\d{3})+$)/g, '$1,') + "</strong></span></p><div class='text-button'><a href='/Cars/CarDetails?ModelNumberCar=" + response.data[i].ModelNumberCar + "'>View More</a></div></div></div></div>"
                    }
                    $("#dataCars").append(row);
                    $("#pagination").show();
                    $("#paginationSearchMutiplePages").hide();
                    pagination(response.total, function () {
                        loadData();
                    })
                } else {
                    var row = "<h2 style='text-align: center' class='cars'>Currently there are no vehicles in the showroom !</h2>";
                    $("#dataCars").append(row);
                }
            }
        });
    }

    function search() {
        $("#dataCars").find('.cars').remove();
        var brandId = $("#brand").val();
        var modelCarId = $("#model").val();
        $.ajax({
            type: "POST",
            url: "/Cars/Search",
            data: '{page: ' + pageSearchCofig.pageIndex + ', pageSize: ' + pageSearchCofig.pageSize + ' , brandId: ' + "'" + brandId + "'" + ' , modelCarId: ' + "'" + modelCarId + "'" + ' }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.data.length > 0) {
                    var row = "";
                    for (var i = 0; i < response.data.length; i++) {
                        var status = (response.data[i].Status == 0) ? "New" : "Used";
                        var date = new Date(parseInt(response.data[i].CreatedDate.replace('/Date(', '')));
                        row += "<div class='col-md-4 col-sm-6 col-xs-12 cars' id='" + response.data[i].CarId + "'><div class='featured-item'><div class='thumb'><div class='thumb-img'><img src='/Areas/Admin/Contents/Images/" + response.data[i].ImageName + "' style = 'width: 400px;height: 200px'/></div><div class='overlay-content'><strong><i class='fa fa-dashboard'></i> " + response.data[i].KilometerGone + " km</strong> &nbsp;&nbsp;&nbsp;&nbsp; <strong><i class='fa fa-cube'></i> " + response.data[i].Engine + "</strong>&nbsp;&nbsp;&nbsp;&nbsp;<strong><i class='fa fa-cog'></i> " + response.data[i].Gearbox + "</strong></div></div><div class='down-content' style='text-align: center'><h4>" + response.data[i].CarName + "</h4><br><p>" + response.data[i].Color + "  /  " + convert(date) + "  /  " + status + " vehicle</p><p><span><strong><sup>$</sup>" + String(response.data[i].PriceOutput).replace(/(.)(?=(\d{3})+$)/g, '$1,') + "</strong></span></p><div class='text-button'><a href='/Cars/CarDetails?ModelNumberCar=" + response.data[i].ModelNumberCar + "'>View More</a></div></div></div></div>"
                    }
                    $("#dataCars").append(row);
                    $("#paginationSearchMutiplePages").show();
                    $("#pagination").hide();
                    paginationSearchMutiplePages(response.total, function () {
                        search();
                    })
                } else {
                    var row = "<h2 style='text-align: center' class='cars'>Nothing to search !</h2>";
                    $("#dataCars").append(row);
                }
            }
        });
    }

    function pagination(totalRow, callback) {
        var totalPage = Math.ceil(totalRow / pageCofig.pageSize);
        $('#pagination').twbsPagination({
            totalPages: totalPage,
            visiblePages: 10,
            onPageClick: function (event, page) {
                pageCofig.pageIndex = page;
                setTimeout(callback, 200);
            }
        });
    }

    function paginationSearchMutiplePages(totalRow, callback) {
        var totalPage = Math.ceil(totalRow / pageCofig.pageSize);
        $('#paginationSearchMutiplePages').twbsPagination({
            totalPages: totalPage,
            visiblePages: 10,
            onPageClick: function (event, page) {
                pageSearchCofig.pageIndex = page;
                setTimeout(callback, 500);
            }
        });
    }

    function convert(str) {
        var date = new Date(str),
            month = ("0" + (date.getMonth() + 1)).slice(-2),
            day = ("0" + date.getDate()).slice(-2);
        return [month, day, date.getFullYear()].join("-");
    }
</script>

