
@{
    ViewBag.Title = "WarningUser";
    Layout = "~/Areas/Admin/Views/Shared/Index.cshtml";
}
<div class="container">
    <br /><br /><br />
    <h1 style="text-align:center;">You don't have permission to access here!</h1>
</div>
<script>
     swal({
         title: "WARNING !!!",
         text: "You don't have permission to access here !",
        icon: "warning",
        button: true,
        dangerMode: true,
    })
</script>

