@model IEnumerable<Vehicle_Showroom_Management_System.Areas.Admin.Data.Car>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/Index.cshtml";
}

    <div class="container">
        <h2 style="text-align: center"><b>List of Cars</b></h2>
        <p>
            <input style="float: right;position: relative" class="form-control col-md-4" name="searchCar" id="searchCar" type="text" placeholder="Search Car By..." aria-label="Search" aria-describedby="basic-addon2" />
            <select style="float: right;position: absolute;margin-left:1000px;width:92px" class="form-control" id="typeSearch">
                <option value="Name">Name</option>
                <option value="Model">Model</option>
            </select>  
            <br />
            <br />
        </p>
        <table class="table table-bordered" id="tableCar">
            <tr>
                <th style="width: 250px">
                    <b>Car Name</b>
                </th>
                <th style="text-align: center">
                    <b>Image</b>
                </th>
                <th style="text-align: center">
                    <b>Price Output</b>
                </th>
                <th>
                    <b>Status</b>
                </th>
                <th>
                    <b>Checking</b>
                </th>
                <th></th>
            </tr>
            <tbody>
            </tbody>
        </table>
        <div class="pagination" id="pagination" style="float: right">
        </div>
        <div class="pagination" id="paginationSearchMutiplePages" style="float: right">
        </div>
        <div style="float: left; display: none" id="resultSearch">
            <div id="totalRowSearch" style="font-weight: bold"></div>
        </div>
    </div>

    <script>
    var pageCofig = {
        pageSize: 3,
        pageIndex: 1
    }
    var pageSearchCofig = {
        pageSize: 3,
        pageIndex: 1
    }

    $(document).ready(function () {
        $("#pagination").hide();
        $("#paginationSearchMutiplePages").hide();
        $("#paginationSearchOnePage").hide();
        $("#tableCar").find('.dataTable').remove();
        $.ajax({
            type: "POST",
            url: "/Admin/Car/LoadData",
            data: '{page: ' + pageCofig.pageIndex + ',pageSize:' + pageCofig.pageSize + ' }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.data.length > 0) {
                    var row = "";
                    for (var i = 0; i < response.data.length; i++) {
                        var status = (response.data[i].Status == 0) ? "New" : "Used";
                        var checking = (response.data[i].Checking == 0) ? "Available" : "Unavailable";
                        row += "<tr class='dataTable' id='" + response.data[i].CarId + "'>" + "<td>" + response.data[i].CarName + "</td>" + "<td style='text-align: center'>" + "<img title='" + response.data[i].ModelCarName + "' src='/Areas/Admin/Contents/Images/" + response.data[i].ImageName + "' style = 'width: 150px;height: 100px'/>" + "</td>" + "<td style='text-align: center'>" + String(response.data[i].PriceOutput).replace(/(.)(?=(\d{3})+$)/g, '$1,') + " $ " + "</td>" + "<td>" + status + "</td>" + "<td>" + checking + "</td>" + "<td style ='width:242px'> <a href='/Admin/Car/Details?ModelNumberCar=" + response.data[i].ModelNumberCar + "' class='btn btn-info' style = 'font-weight: bold'>Details</a> <a style='color: white; font-weight: bold' onclick = 'editCar(" + response.data[i].CarId + ")' class='btn btn-success' style = 'font-weight: bold'>Edit</a> <a onclick = deleteCar(" + response.data[i].CarId + ") class='btn btn-danger' style = 'font-weight: bold; color: white'>Delete</a> </td>" + "</tr>"
                    }
                    $("#tableCar").append(row);
                    $("#pagination").show();
                    pagination(response.total, function () { })
                }
                $("#resultSearch").show();
                $("#totalRowSearch").text("Total numbers of car: " + response.total);
            }
        });
    });


    $("#pagination").click(function () {
        loadData();
    });


    function loadData() {
        $("#tableCar").find('.dataTable').remove();
        $.ajax({
            type: "POST",
            url: "/Admin/Car/LoadData",
            data:
                '{page: ' + pageCofig.pageIndex + ',pageSize:' + pageCofig.pageSize + ' }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.data.length > 0) {
                    var row = "";
                    for (var i = 0; i < response.data.length; i++) {
                        var status = (response.data[i].Status == 0) ? "New" : "Used";
                        var checking = (response.data[i].Checking == 0) ? "Available" : "Unavailable";
                        row += "<tr class='dataTable' id='" + response.data[i].CarId + "'>" + "<td>" + response.data[i].CarName + "</td>" + "<td style='text-align: center'>" + "<img title='" + response.data[i].ModelCarName + "' src='/Areas/Admin/Contents/Images/" + response.data[i].ImageName + "' style = 'width: 150px;height: 100px'/>" + "</td>" + "<td style='text-align: center'>" + String(response.data[i].PriceOutput).replace(/(.)(?=(\d{3})+$)/g, '$1,') + " $ " + "</td>" + "<td>" + status + "</td>" + "<td>" + checking + "</td>" + "<td style ='width:242px'> <a href='/Admin/Car/Details?ModelNumberCar=" + response.data[i].ModelNumberCar + "' class='btn btn-info' style = 'font-weight: bold'>Details</a> <a style='color: white; font-weight: bold' onclick = 'editCar(" + response.data[i].CarId + ")' class='btn btn-success' style = 'font-weight: bold'>Edit</a> <a onclick = deleteCar(" + response.data[i].CarId + ") class='btn btn-danger' style = 'font-weight: bold; color: white'>Delete</a> </td>" + "</tr>"
                    }
                    $("#tableCar").append(row);
                    $("#paginationSearchMutiplePages").hide();
                    $("#paginationSearchOnePage").hide();
                    $("#pagination").show();
                    pagination(response.total, function () {
                        loadData();
                    })
                }
                $("#resultSearch").show();
                $("#totalRowSearch").text("Total numbers of car: " + response.total);
            }
        });
        };

        $('#typeSearch').change(function () {
            if ($("#searchCar").val() != "") {
        pageSearchCofig = {
            pageSize: 3,
            pageIndex: 1
        }

        $('#paginationSearchMutiplePages').empty();
        $('#paginationSearchMutiplePages').removeData("twbs-pagination");
        $('#paginationSearchMutiplePages').unbind("page");
        $('#pagination').empty();
        $('#pagination').removeData("twbs-pagination");
        $('#pagination').unbind("page");
        searchCarName();
            }
    });

    $("#searchCar").keyup(function () {
        pageSearchCofig = {
            pageSize: 3,
            pageIndex: 1
        }

        $('#paginationSearchMutiplePages').empty();
        $('#paginationSearchMutiplePages').removeData("twbs-pagination");
        $('#paginationSearchMutiplePages').unbind("page");
        $('#pagination').empty();
        $('#pagination').removeData("twbs-pagination");
        $('#pagination').unbind("page");
        searchCarName();
    });

    function searchCarName() {
        $("#tableCar").find('.dataTable').remove();
        var name = $("#searchCar").val().toLowerCase();
        $.ajax({
            type: "POST",
            url: "/Admin/Car/Search",
            data: '{' + 'CarNameSearch: ' + "'" + name + "'" + ',type: ' + "'" + $("#typeSearch").val() + "'" + ',page: ' + pageSearchCofig.pageIndex + ', pageSize: ' + pageSearchCofig.pageSize + ' }',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (name == "") {
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Car/LoadData",
                        data:
                            '{page: ' + pageCofig.pageIndex + ',pageSize:' + pageCofig.pageSize + ' }',
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            if (response.data.length > 0) {
                                var row = "";
                                for (var i = 0; i < response.data.length; i++) {
                                    var status = (response.data[i].Status == 0) ? "New" : "Used";
                                    var checking = (response.data[i].Checking == 0) ? "Available" : "Unavailable";
                                    row += "<tr class='dataTable' id='" + response.data[i].CarId + "'>" + "<td>" + response.data[i].CarName + "</td>" + "<td style='text-align: center'>" + "<img src='/Areas/Admin/Contents/Images/" + response.data[i].ImageName + "' style = 'width: 150px;height: 100px'/>" + "</td>" + "<td style='text-align: center'>" + String(response.data[i].PriceOutput).replace(/(.)(?=(\d{3})+$)/g, '$1,') + " $ " + "</td>" + "<td>" + status + "</td>" + "<td>" + checking + "</td>" + "<td style ='width:242px'> <a href='/Admin/Car/Details?ModelNumberCar=" + response.data[i].ModelNumberCar + "' class='btn btn-info' style = 'font-weight: bold'>Details</a> <a style='color: white; font-weight: bold' onclick = 'editCar(" + response.data[i].CarId + ")' class='btn btn-success' style = 'font-weight: bold'>Edit</a> <a onclick = deleteCar(" + response.data[i].CarId + ") class='btn btn-danger' style = 'font-weight: bold; color: white'>Delete</a> </td>" + "</tr>"
                                }
                                $("#tableCar").append(row);
                                $("#paginationSearchMutiplePages").hide();
                                $("#pagination").show();

                                $("#resultSearch").show();
                                $("#totalRowSearch").text("Total numbers of car: "+response.total);
                                pagination(response.total, function () {
                                    loadData();
                                });
                            } else {
                            }
                        }
                    });
                } else {
                    if (response.allCars > 0) {
                        if (response.data.length > 0) {
                            var row = "";
                            for (var i = 0; i < response.data.length; i++) {
                                var status = (response.data[i].Status == 0) ? "New" : "Used";
                                var checking = (response.data[i].Checking == 0) ? "Available" : "Unavailable";
                                row += "<tr class='dataTable' id='" + response.data[i].CarId + "'>" + "<td>" + response.data[i].CarName + "</td>" + "<td style='text-align: center'>" + "<img src='/Areas/Admin/Contents/Images/" + response.data[i].ImageName + "' style = 'width: 150px;height: 100px'/>" + "</td>" + "<td style='text-align: center'>" + String(response.data[i].PriceOutput).replace(/(.)(?=(\d{3})+$)/g, '$1,') + " $ " + "</td>" + "<td>" + status + "</td>" + "<td>" + checking + "</td>" + "<td style ='width:242px'> <a href='/Admin/Car/Details?ModelNumberCar=" + response.data[i].ModelNumberCar + "' class='btn btn-info' style = 'font-weight: bold'>Details</a> <a style='color: white; font-weight: bold' onclick = 'editCar(" + response.data[i].CarId + ")' class='btn btn-success' style = 'font-weight: bold'>Edit</a> <a onclick = deleteCar(" + response.data[i].CarId + ") class='btn btn-danger' style = 'font-weight: bold; color: white'>Delete</a> </td>" + "</tr>"
                            }
                            $("#tableCar").append(row);
                            $("#paginationSearchMutiplePages").show();
                            paginationSearchMutiplePages(response.total, function () {
                                searchCarName();
                            })
                        }
                            $("#resultSearch").show();
                            $("#totalRowSearch").text("Found " + response.total + " results");
                    } else {
                        swal({
                            title: "Nothing to search !",
                            text: "Please add new Car in Purchase Order",
                            icon: "error",
                            button: "Got it",
                            dangerMode: false
                        }).then((logOut) => {
                            if (logOut) {
                                window.location.replace("/Admin/PurchaseOrder");
                            }
                        });
                    }
                }
            }
        });
    }

    function pagination(totalRow, callback) {
        var totalPage = Math.ceil(totalRow / pageCofig.pageSize);
        $('#pagination').twbsPagination({
            totalPages: totalPage,
            visiblePages: 10,
            onPageClick: function (event, page) {
                pageCofig.pageIndex = page;
                setTimeout(callback, 200);
            }
        });
    };

    function paginationSearchMutiplePages(totalRow, callback) {
        var totalPage = Math.ceil(totalRow / pageCofig.pageSize);
        $('#paginationSearchMutiplePages').twbsPagination({
            totalPages: totalPage,
            visiblePages: 10,
            onPageClick: function (event, page) {
                pageSearchCofig.pageIndex = page;
                setTimeout(callback, 500);
            }
        });
    }


        function deleteCar(CarId) {
        swal({
            title: "Are you sure you want to delete?",
            text: "Once deleted, you will not be able to recover this car!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        }).then((logOut) => {
            if (logOut) {
                    
                $.ajax({
                    type: "POST",
                    url: "/Admin/Car/Delete",
                    data: { CarId: CarId },
                    contenttype: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        if (response) {
                            $("#" + CarId).remove();
                            if ($("#searchCar").val() == "") {
                                loadData();
                            } else {
                                searchCarName();
                            }
                            setTimeout(function () {
                                swal({
                                    title: "Poof! Car has been deleted!",
                                    icon: "success",
                                    button: true,
                                    dangermode: false,
                                });
                            }, 100);
                            $('#pagination').empty();
                            $('#pagination').removeData("twbs-pagination");
                            $('#pagination').unbind("page");

                            $('#paginationSearchMutiplePages').empty();
                            $('#paginationSearchMutiplePages').removeData("twbs-pagination");
                            $('#paginationSearchMutiplePages').unbind("page");

                            pageCofig = {
                                pageSize: 3,
                                pageIndex: 1
                            }
                            pageSearchCofig = {
                                pageSize: 3,
                                pageIndex: 1
                            }
                        } else {
                            swal({
                                title: "Can not delete this car!",
                                text: "This car exsited in sell order",
                                icon: "error",
                                button: true,
                                dangermode: true,
                            });
                        }
                    }
                });
            }
        });
        }

        function editCar(CarId) {
            $.ajax({
                type: "POST",
                url: "/Admin/Car/CheckEdit",
                data: { CarId: CarId },
                contenttype: "application/json; charset=utf-8",
                datatype: "json",
                success: function (response) {
                    if (response) {
                        swal({
                            title: "Can not edit this car!",
                            text: "This car exsited in sell order",
                            icon: "error",
                            button: true,
                            dangermode: true,
                        });
                    } else {
                        window.location.replace("/Admin/Car/Edit?CarId=" + CarId)
                    }
                }
            });
        }
    </script>